* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.homeContainer {
  min-height: 100vh;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.pageContent {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

/* For smaller screens */
@media (max-width: 768px) {
  .pageContent {
    padding-top: 50px;  /* Same as mobile header height */
    padding-bottom: 50px; /* Same as mobile nav height */
  }
}
