* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input, textarea, select, a {
    all: unset;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}