// NewsTab.module.scss
.newsTab {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;


  .title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
    font-weight: 600;
  }

  .posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.createNewsButton {
  text-align: center;
  font-size: 14px;
  background-color: #f95e1b;
  color: white;
  width: 144px;
  height: 40px;
  border-radius: 32px;
  margin-bottom: 10px;
}

.adminButtons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  button{
    text-align: center;
    font-size: 14px;
    color: white;
    width: 144px;
    height: 40px;
    border-radius: 32px;
    margin-bottom: 10px;
  }

  .editButton{
    background-color: #f95e1b;
  }

  .deleteButton{
    background-color: #d32f2f;
  }
}
